body{
    background-color: black;
}
header{
    background:black;
    color:white;
    display: flex;
    margin-left: 20px;
}
ul{
    margin:0;
    padding:0;
    list-style-type:none;
}
li{
    display:inline-block;
    margin-left: 50px;
}
section{
    background-color: seashell;
    height: 400px;
}