body{
    background-color: black;
}
header{
    background:black;
    color:white;
    display: flex;
    height: 600px;
    background-image: url(../image/background.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}

ul{
    list-style-type:none; 
}
li{
    display: inline-block;
    margin-left: 100px;
}
li:hover{
    transform: scale(1.4);
}
section{
    margin-top: auto;
    padding: 40px;
    display: flex;
    height: 300px;
    background-color: gainsboro;
    flex-direction: row;
}
.My-Skills{
    height: 800px;
    text-align: center;
    padding: 20px;
    background-color: gainsboro;
}
footer{
    padding: 10px;
    text-align: center;
    background-color: black;
}

img,svg{
    transition: all 0.6s;  
}
img:hover,
svg:hover{
    transform: scale(1.4);  
}
div.grid {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
div.grid-item {
    margin-bottom: 20px;
    margin-top: 100px;
}
/* 大屏幕 ：大於等於1200px*/
@media (min-width: 1200px) {

}

/*默認*/
@media (min-width: 980px){

}

/* 平板電腦和小屏電腦之間的分辨率 */
@media (min-width: 768px) and (max-width: 979px) {

}

/* 橫向放置的手機和豎向放置的平板之間的分辨率 */
@media (max-width: 767px) {

}

/* 橫向放置的手機及分辨率更小的設備 */
@media (max-width: 480px) {

}
