html {
  font-family: Source Sans Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

div {
  display: block;
}

body{
  line-height: 2em;
  background: #1798b8!important;
}

#container {
  margin: 0;
  height: 900px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;
  max-height: 100vh;
}

h2{
  font-size: 5rem;
}

img,svg{
  transition: all 0.6s;  
}
img:hover,
svg:hover{
  transform: scale(1.4);  
}

#arrow{
  cursor: url(../image/arrow.png), auto;
}

#me{
  height: 100vh;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;
}

.card_image {
  vertical-align: middle;
  width: 25vmin;
  height: 25vmin;
  border-radius: 50%;
  box-shadow: 2px 2px 30px 1px rgba(0,0,0,.6);
}

.card-name {
  margin-top: .5em;
  font-size: 5vh;
}

.card_location{
  letter-spacing: 1px;
  font-size: 3vh;
  opacity: .5;
  margin: 10px
}

.card_info{
  letter-spacing: 1px;
  font-size: 4vh;
  opacity: .5;
  margin: 10px
}